<div class="movie">
<h2>Title: {{title}}</h2>
          <img
            src="{{imageURL}}">
          <p>Available Tickets: {{tickets}}</p>
         
          <div class="btn-group">
            <button><a href="#/editMovie">Edit</a></button>
            <button><a href="#/deleteMovie">Delete</a></button>
            <button><a href="#/buyTicket">Buy Ticket</a></button>
            <button><a href="#/details">Details</a></button>
          </div>
